body {
    background-color: #f3f3f3;
    margin:0px;
    padding:168px;
    color:black;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

}

.nav-bar {
    margin-top:-30px;
    box-sizing:border-box;
    display:flex;
    justify-content:space-between;
    align-items:center; 
    width:100%;

}

.logo {
    font-family: "DM Sans", sans-serif;
    font-style:normal;
    font-weight: 500;
    font-size:40px;
    color:black;
}

.nav-links{

    font-family: "DM Sans", sans-serif;
    font-style:normal;
    font-weight: 400;
    font-size:20px;
    margin:0;
    padding:0;
    display:flex;
    list-style:none;
    gap:25px;
}
.header {
    font-size: 25px;
    margin-top:150px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:start;
}
.header h1 {
    margin:50px 250px 100px 12px;
    line-height:1.0;

}
.header p {
    color: #606060;
    margin:110px 0px 0px 0px;
    padding:0;
    font-size:20px;
    line-height:1.5;
}

.down-arrow  {
    margin-bottom:180px;
    margin-left:15px;
    font-size:25px;
    line-height: 3.0;

    
  
}


.project {
    display:flex;
    flex-direction:column;
    align-items:start;
    margin:-130px 0px 170px 0px;
}

.project .description {
    margin-bottom: 200px;
}

.project .case-study {
    color:#606060;


}

.full-width-line {
    width:100%;
    height:1px;
    background-color:#e0e0e0;
    margin:40px 0px 0px 0px;
}

#back-to-top {
    display:none;
    position:fixed;
    bottom:20px;
    right:20px;
    color:#f3f3f3;
    background-color: black;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}


/* Visible state for the button */
#back-to-top.show {
    display: block;
    opacity:1;
    transform: translateY(0);
}

#back-to-top:hover {
    background-color :#606060;
}






